body {background-color:whitesmoke; text-align: center;font: 24px Calibri, sans-serif;
  color:rgb(0, 0, 0);}

h1{font-size:xx-large; background-color: #6b8e23;}
table {
    margin: 0 auto; 
    text-align: center; 
}
th {padding: 10px;}
div {padding: 25px 50px;
  }
img#fotocv{
  border-radius: 50%;
}
tr#tabla_proyectos th{ font-style: italic;}
.bordes{border-style:dotted; 
    border-color: #6b8e23; 
    border-width: 10px; 
    border-radius: 5%}
.links {font-weight:bolder; color:rgb(36, 89, 32); font-size: x-large;}
.contacto {font-size: smaller; color:rgba(9, 62, 9, 0.902);}
